* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Roboto Slab", "Roboto";
  -webkit-font-smoothing: antialiased;
  background-color: #fcfcfc;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

::selection {
  background: #ff590a;
  color: #ffffff !important;
}

.wrap {
  max-width: 1128px;
  margin: 0 auto;

  .title {
    padding: 36px;

    font-size: 16px;
    text-align: center;
    color: #8E8E8E;
  }
}