
  // 1060 单列
.project {
  margin: 36px 36px 0;
  padding: 0 0 36px;
  border: 1px solid rgba(234,234,234,1);
  border-width: 0 0 1px 0;

  .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 840px;
    margin: 0 auto;
  }

  .img {
    width: 410px;
    height: 410px;

    img {
      width: 100%;
      height :100%;
      object-fit: cover;
    }
  }

  p {
    height: 92px;
    color: #303133;
    font-size: 16px;
    line-height: 92px;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: rgba(255, 105, 0, 1);
    }
  }

  img {
    max-width: 100%;
  }
}